<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap-responsive.min.css" />
  <link rel="stylesheet" media="all" href="/stylesheets/app.css" />

  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-tab.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-alert.js"></script>

  <title>Pinocchio</title>
</head>
<body>
  <div class="container">

    <h1 id="title">Pinocchio</h1>

    <% flash("flash").collect do |f| %>
      <div class="alert alert-<%= f[0] %>">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= f[1] %>
      </div>
    <% end %>

    <form method="post">

      <div class="row">
        <div class="span8">
          <label for="url">URL to shorten</label>
          <input type="text" value="<%= escape_html(params[:url]) %>"
            name="url" id="url" placeholder="http://example.com" class="span8" />
        </div>
        <div class="span4">
          <label for="vanityname">Vanity link name</label>
          <input type="text" value="<%= escape_html(params[:vanityname]) %>" 
            name="vanityname" id="vanityname" placeholder="foo" class="span4" />
        </div>
      </div>

      <div class="row">
        <div class="span2 offset10 right">
          <input type="submit" value="Shorten" id="submit" class="primary btn" />
        </div>
      </div>

    </form>

<% unless get_links.empty? %>
    <div class="result">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Full URL</th>
          </tr>
        </thead>
        <tbody>
        <% get_links.each do |linkid| %><% full_url = url_for_linkid linkid %>
          <tr>
            <td><a href="/<%= linkid %>"><%= url "/#{linkid}" %></a></td>
            <td><a href="<%= full_url %>"><%= full_url %></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

  </div>
</body>
</html>
