<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" media="all" href="<%= url "/stylesheets/bootstrap.min.css" %>" />
  <link rel="stylesheet" media="all" href="<%= url "/stylesheets/app.css" %>" />

  <script type="text/javascript" src="<%= url "/javascripts/jquery.min.js" %>"></script>
  <script type="text/javascript" src="<%= url "/javascripts/jquery_ujs.js" %>"></script>
  <script type="text/javascript" src="<%= url "/javascripts/bootstrap.min.js" %>"></script>
  <script type="text/javascript" src="<%= url "/javascripts/app.js" %>"></script>

  <title>Pinocchio</title>
</head>
<body>
  <div class="container">

    <h1 id="title">Pinocchio</h1>

    <% flash("flash").collect do |f| %>
      <div class="alert alert-<%= f[0] %> fade in">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <%= f[1] %>
      </div>
    <% end %>

    <form method="post">

      <div class="row">
        <div class="span8">
          <label for="url">URL to shorten</label>
          <input type="text" value="<%= escape_html(params[:url]) %>"
            name="url" id="url" placeholder="http://example.com" class="span8" />
        </div>
        <div class="span4">
          <label for="vanityname">Vanity link name</label>
          <input type="text" value="<%= escape_html(params[:vanityname]) %>" 
            name="vanityname" id="vanityname" placeholder="foo" class="span4" />
        </div>
      </div>

      <div class="row">
        <div class="span2 offset10 right">
          <input type="submit" value="Shorten" id="submit" class="btn btn-primary" />
        </div>
      </div>

    </form>

<%# <% unless get_links.empty? %>
    <div class="result">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="short-url-col">Short URL</th>
            <th class="full-url-col">Full URL</th>
            <th class="clicks-col">Clicks</th>
            <% if params[:all] == 'true' %>
            <th class="action-column"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% get_links.each do |linkid| %><% full_url = url_for_linkid linkid %>
          <tr>
            <td><a href="<%= url "/#{linkid}" %>"><%= url "/#{linkid}" %></a></td>
            <td><a href="<%= full_url %>"><%= full_url %></a></td>
            <td class="right"><%= clicks_for_linkid linkid %></td>
            <% if params[:all] == 'true' %>
            <td class="action-column"><a class="btn btn-danger btn-small" rel="nofollow" href="<%= url "/#{linkid}" %>" data-method="delete" data-confirm="Are you sure?">Delete</a></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <strong><%= link_count %> total shortlinks</strong>.
      <div class="pagination">
        <ul>
          <li class="<%= 'disabled' if prev_page_url_disabled? %>"><a href="<%= prev_page_url %>">← Prev</a></li>
          <% paginate do |i| %>
            <li class="<%= 'disabled' if page_url_disabled? i %>"><a href="<%= url_for_paginated_page i %>"><%= i %></a></li>
          <% end %>
          <li class="<%= 'disabled' if next_page_url_disabled? %>"><a href="<%= next_page_url %>">Next →</a></li>
        </ul>
      </div>

    </div>
<%# <% end %>

  </div>
</body>
</html>
